# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Vite / TS cache
node_modules/.tmp/
*.tsbuildinfo
